*
{
    box-sizing: border-box;

    body
    {
        font-family: 'Poppins', sans-serif;

        .wrapper //global block all cover

        {
            min-height: 100vh;
            overflow: hidden;
            display: flex;
            flex-direction: column;

            .content //global block

            {
                flex: 1 1 auto;
                color: #363636;

                // .content.wrapperNoScroll
                // {
                //     position: fixed;
                // }
            }
        }


    }
}

//==========================================================================================//
.container
{
    max-width: 1170px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

//=========================================================================================//
.header
{
    padding: 20px 0;
    margin-bottom: 70px;

    .header_body
    {
        display: flex;
        justify-content: space-between;

        height: 50px;
        align-items: center;

        .header_logo
        {
            flex: 0 1 30%;
        }

        .header_menu
        {

            ul.nav
            {
                display: flex;
                justify-content: space-between;

                li
                {
                    flex: 0 0 auto;

                    .menu_link
                    {
                        height: 50px;
                        display: block;
                        text-align: center;
                        line-height: 50px;

                        padding: 0 35px;

                        color: rgb(255, 255, 255);
                        opacity: 0.8;

                    }

                    .menu_link:hover
                    {
                        opacity: 1;
                        transition: .25s linear;
                    }
                }

            }

            @media screen and (max-width: 767px)
            {
                ul.nav
                {
                    flex-direction: column;
                    justify-content: start;

                    li
                    {
                        margin: 25px 0;

                        .menu_link
                        {
                            text-align: left;
                            font-size: 25px;
                            text-transform: uppercase;
                        }
                    }
                }

                .nav_mobile_menu
                {
                    width: 15px;
                    height: 15px;
                    position: relative;


                    span
                    {
                        height: 1px;
                        background-color: #174AFF;
                        position: absolute;
                        left: 0;
                        right: 0;
                        transition: .25s linear;

                        background-color: #174AFF;

                        &:nth-child(1)
                        {
                            top: 3px;
                        }

                        &:nth-child(2)
                        {
                            top: 7px;
                        }

                        &:nth-child(3)
                        {
                            bottom: 3px;
                        }
                    }
                }

                .hidden_menu
                {
                    opacity: 0;
                    visibility: hidden;
                }

                .navigation
                {
                    position: fixed;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    width: 280px;
                    max-width: 280px;
                    transition: all 0ms linear;
                    transform: translateX(50%);


                }

                .header_body
                {
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    height: 50px;


                }

                //Q: how style .active_menu
                // active menu //

                .nav_mobile_menu.active_menu
                {
                    span
                    {
                        &:nth-child(1)
                        {
                            top: 50%;
                            transform: rotate(45deg);
                        }

                        &:nth-child(2)
                        {
                            top: 50%;
                            transform: rotate(-45deg);
                        }

                        &:nth-child(3)
                        {
                            transform: scale(0);
                        }
                    }
                }

                .navigation.active_menu
                {
                    opacity: 1;
                    visibility: visible;
                    transform: translateX(0);
                    top: 82px;
                    min-width: 100%;
                    z-index: 20;

                    background-color: #fff;

                }
            }
        }

        .header_btn
        {
            .btn_demo
            {
                background-color: #ffffff00;
                width: 163px;
                height: 50px;
                border: 1.5px solid white;
                border-radius: 5px;

                color: #fff;
                font-weight: 500;

                // opacity: 0.8;

                &:hover
                {
                    background-color: #fff;
                    color: #174AFF;
                }
            }

            @media screen and (max-width:1023px)
            {
                display: none;
            }
        }
    }
}

//==========================================================================================//
.blocks_title
{
    font-size: 34px;
    font-weight: 600;
    line-height: 52px;
    letter-spacing: 1px;

    margin-bottom: 50px;
}

.blocks_subtitle
{
    font-size: 18px;
    font-weight: 400;
    opacity: 0.6;

    margin-bottom: 50px;
}

@media screen and (max-width: 1024px)
{
    .blocks_title
    {
        font-size: 30px;
        line-height: 42px;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 630px)
{
    .blocks_title
    {
        font-size: 25px;
        line-height: 30px;

    }

    .blocks_subtitle
    {
        font-size: 16px;
        margin-bottom: 0;

    }
}

@media screen and (max-width: 424px)
{
    .blocks_title
    {
        font-size: 21px;
        line-height: 25px;

    }

    .blocks_subtitle
    {
        font-size: 15px;
        opacity: 0.6;

    }
}

//==========================================================================================//

.emailForm
{
    // display: flex;
    margin-bottom: 40px;

    .emailForm_inp
    {
        width: 356px;
        height: 58px;
        border: none;

        border-radius: 8px;
        padding: 20px;
        margin-right: 10px;

        // font-size: 16px;
        // font-weight: 400;
        // color: #363636;

        // opacity: 0.7;
        &::placeholder
        {
            opacity: 0.7;
        }

        &:hover,
        &:not(hover)
        {
            outline: none;
            font-size: 20px;
        }
    }

    input.form_inputBtn
    {
        width: 166px;
        height: 58px;
        border: none;

        border-radius: 8px;
        padding: 20px;
        margin-left: 10px;

        font-size: 16px;
        font-weight: 500;
        border-radius: 8px;
        background: #FFCF59;
        color: #363636;

        &:hover,
        &:active
        {
            background: #ffb700;
            transition: 0.1s linear;
        }
    }
}

@media screen and (max-width: 900px)
{
    .emailForm
    {
        .emailForm_inp
        {
            width: 323px;
            height: 44px;
            padding: 12px;
        }

        input.form_inputBtn
        {
            height: 44px;
            padding: 0;
        }
    }
}

@media screen and (max-width: 865px)
{
    .emailForm
    {
        form
        {
            // max-width: 330px;
            display: flex;
            flex-direction: column;

            .emailForm_inp
            {
                width: 400px;
                height: 54px;
                padding: 12px;

                margin-right: 0;
                margin-bottom: 15px;
            }

            .form_inputBtn
            {
                width: 400px;
                height: 54px;
                font-size: 20px;

                margin-left: 0;
            }
        }
    }
}

@media screen and (max-width: 765px)
{
    .emailForm
    {
        justify-content: center;

        form
        {
            width: 100%;

            .emailForm_inp,
            .form_inputBtn
            {
                width: auto;
            }
        }
    }
}

// @media screen and (max-width: 425px)
// {

//     .emailForm
//     {
//         width: 100vh;

//         form
//         {
//             width: 100vh;

//             .emailForm_inp
//             {
//                 width: 100vh;
//             }

//             input.form_inputBtn
//             {}
//         }

//     }
// }


//==========================================================================================//
.greyBlueForm_style
{
    .greyBlueForm_inp
    {
        border: 1px solid #979797;
    }

    input.greyBlueForm_Btn
    {
        background-color: #174AFF;
        color: #fff;

        &:hover
        {
            background: #0023a3;
            transition: 0.2s linear;
        }

        &:not(hover)
        {
            transition: .2s;
        }
    }
}

//==========================================================================================//

.blocks_btns
{
    display: flex;
    justify-content: center;

    .blocks_btns_btn
    {
        width: 195px;
        height: 55px;

        background-color: #ffffff00;
        border-radius: 5px;
        border: 1px solid #3670FF;

        p
        {
            font-weight: 500;
            color: #3670FF;
        }

        &:hover
        {
            background-color: #3670FF;

            transition: 0.2s linear;

            p
            {
                color: #fff;
            }
        }

        @media screen and (max-width: 600px)
        {
            width: 100%;
        }
    }
}

//==========================================================================================//

.card_card
{

    width: 350px;
    margin: 50px;

    .card_card_img
    {
        width: 58px;
        height: 54px;
        overflow: hidden;
        position: relative;

        margin-bottom: 30px;

        img
        {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    .card_card_text
    {
        h4
        {
            font-size: 18px;
            font-weight: 500;
            opacity: 0.6;

            margin-bottom: 25px;
        }

        h3
        {
            font-size: 22px;
            font-weight: 600;

            margin-bottom: 25px;
        }

        p
        {
            font-weight: 400;
            line-height: 26px;
            opacity: 0.6;


        }
    }

    @media screen and (max-width: 1024px)
    {
        margin: 35px 0 0 10px;

        z-index: 10;

    }

    @media screen and (max-width: 610px)
    {
        .card_card_text
        {
            h4
            {
                font-size: 17px;
                margin-bottom: 15px;
            }

            h3
            {
                font-size: 20px;
                margin-bottom: 15px;
            }

            p
            {
                font-size: 15px;
                line-height: 22px;
            }
        }
    }
}

//==========================================================================================//
.getYour //block

{
    margin-bottom: 100px;

    .getYour_coverBl
    {
        display: flex;
        align-items: center;
        justify-content: center;

        padding: 15px;
        width: auto;
        min-height: 412px;

        text-align: center;

        background: radial-gradient(circle at 50% 60%, #78008b, #76008d, #6f0094, #64009c, #5600a5, #4800ad, #3c00b4, #3700b6);
        border-radius: 20px;

        .getYour_body
        {
            color: #fff;
            width: auto;

            .getYour_title
            {
                font-size: 30px;
                font-weight: 500;
                margin-bottom: 30px;
            }

            .getYour_subtitle,
            .getYour_subtitle
            {
                font-weight: 400;
                opacity: 0.6;
                margin-bottom: 40px;
            }

            .getYour_subtitle
            {
                font-size: 14px;
            }

            .emailForm
            {
                display: flex;
                justify-content: center;


            }
        }

        //Q: ?adaptive getYour Bl`` 


    }

    @media screen and (max-width: 1024px)
    {
        margin-bottom: 50px;
    }
}

//==========================================================================================//

.topFooter //block

{
    max-height: 100%;

    background-color: #2B2A2A;
    color: #fff;

    padding: 100px;

    .topFooter_body
    {

        display: flex;
        justify-content: space-between;

        .topFooter_starboard
        {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            margin-right: 15px;

            .starboard_title_body
            {
                margin-bottom: 100px;

                .satrboard_title
                {
                    font-size: 31px;
                    font-weight: 700;
                    margin-bottom: 25px;
                }

                .satrboard_subtitle
                {
                    font-weight: 400;
                    line-height: 30px;
                    opacity: 0.6;
                }
            }

            .starboard_contact
            {
                .starboard_contact_item
                {
                    display: flex;
                    align-items: center;
                    margin-bottom: 15px;

                    &:last-child
                    {
                        margin-bottom: 0;
                    }

                    a
                    {

                        letter-spacing: 0.5px;
                        font-weight: 400;
                        opacity: 0.8;

                        color: #fff;

                        &:hover
                        {
                            opacity: 1;
                            transition: .2s linear;
                        }
                    }

                }

                .topFooter_icon
                {
                    margin-right: 10px;
                }
            }
        }

        .topFooter_list_body
        {
            flex: 0 1 60%;
            display: flex;
            justify-content: space-between;

            .topFooter_list_item
            {
                .topFooter_list_title
                {
                    font-weight: 400;
                    letter-spacing: 6px;
                    text-transform: uppercase;

                    margin-bottom: 25px;
                }



                ul>li
                {
                    margin-bottom: 40px;

                    &:last-child
                    {
                        margin-bottom: 0;
                    }

                    a
                    {
                        color: #fff;
                        opacity: 0.6;

                        &:hover
                        {
                            opacity: 1;
                            transition: .15s linear;
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: 1370px)
    {
        padding: 80px 20px;
    }

    @media screen and (max-width: 1100px)
    {
        .topFooter_body
        {

            .topFooter_list_body
            {
                flex-direction: column;
                justify-content: start;
                flex: 0 1 auto;


                .topFooter_list_item
                {
                    .topFooter_list_ul
                    {
                        display: none;
                        margin-bottom: 20px;

                        li
                        {
                            margin-bottom: 10px;
                        }

                        // li:hover
                        // {
                        //     // color: red;
                        // }
                    }


                    .active_ul
                    {
                        display: block;
                    }

                    .topFooter_list_title
                    {
                        margin-right: 10px;
                        padding-left: 25px;
                        position: relative;

                        &::before,
                        &::after
                        {
                            content: '';
                            width: 10px;
                            height: 1px;
                            background-color: #fff;
                            position: absolute;
                            top: 8px;
                        }

                        &::before
                        {
                            transform: rotate(40deg);
                            left: 0;
                        }

                        &::after
                        {
                            transform: rotate(-40deg);
                            left: 8px;
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: 768px)
    {
        padding: 50px 20px;
    }

    @media screen and (max-width: 532px)
    {
        .topFooter_body
        {
            flex-direction: column;

            .topFooter_starboard
            {
                margin-bottom: 50px;

                .starboard_title_body
                {
                    margin-bottom: 20px;

                }
            }
        }
    }
}

//==========================================================================================//
.footer
{
    height: 100%;
    background-color: #201E1E;
    max-height: 100px;

    .footer_body
    {
        display: flex;
        justify-content: space-between;
        line-height: 100px;
        align-items: center;

        .company
        {
            flex: 0 1 40%
        }

        p,
        p>a
        {
            color: #fff;
            opacity: 0.6;
        }
    }

    // @media screen and (max-width: 768px)
    // {
    //     .footer_body
    //     {
    //         line-height: 70px
    //     }
    // }

    @media screen and (max-width: 531px)
    {
        .footer_body
        {
            line-height: 70px;

            .company
            {
                flex: 0 1 auto;
            }
        }

        p
        {
            font-size: 15px;
        }

    }
}


//==========================================================================================//