/* 
    xs - mobile
    sm - tablet
    md - laptop 
    lg - desktop 
*/

* {
    box-sizing: border-box;
}
body {
    font-family: 'Quattrocento Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.wrapper {
    min-height: 100vh;
    overflow: hidden;

    display: flex;
    flex-direction: column;
}
.container {
    max-width: 1170px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
/*======================================================*/
.header {
    width: 100%;
    background-color: #1d2126;
    
}
.header_body {
    display: flex;
    justify-content: space-between;

    height: 81px;
    align-items: center;
}
@media  (max-width:1024px ){
    .header_body {
        flex-direction: column;
        justify-content: space-around;
        height: 100px;
    }
}
    

.header_logo {}
.header_logo img{
    width: 150px;
    height: 35px;
}
.header_menu {}
ul.nav {
    display: flex;

    justify-content: space-around;
    width: 600px;
    
}
/* @media  (max-width: 610px){
    .nav {
        flex-wrap: wrap;
    }
} */
.menu_link {
    height: 30px;
    display: block;
    text-align: center;
    line-height: 30px;

    padding: 0 10px;

    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;

    color: #a4aead;
}
.menu_link:hover {
    outline: 2px solid #565c64;
    /* color: #565c64; */

    border-radius: 2px;

    transition: .1s ease-out;
}
.menu_link:active {
    outline: 2px solid #39a492;
    color: #39a492;

    border-radius: 2px;

    transition: .2s ease-out;
}
.haeder_search {
    width: 190px;
    height: 30px;

    display: flex;
    align-items: center;

    outline: 3px solid #565c64;
    border-radius: 2px;
}
.haeder_search:hover {
    outline: 3px solid #39a492;
    transition: 0.1s linear;
}
.search_inp {
    width: 150px;
    height: 30px;

    padding-left: 10px;

    outline: none;
    border: none;

    font-size: 14px;
    text-transform: uppercase;

    color: #a4aead;
    background-color: #1d2126; 
}
/* ::placeholder {
    color: #39a492;
} */
.search_icon {
    width: 40px;
    height: 30px;

    background-color: #1d2126;
    border: none;

    cursor: pointer;
}
.search_icon img {
    width: 12px;

    background-color: #1d2126;
}
/*======================================================*/
.content {
    flex: 1 1 auto;
}
.title__content_blocks {
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;

    padding-left: 15px;
    margin: 60px 0;

    border-left: 10px solid #e1e6ea;
}
/*======================================================*/
.slider {
    /* height: 500px; */
    background-image: url(/modest-project/images/bgBlock1.png);
    background-size: cover;
    /* background-repeat: no-repeat; */
}

.slider_row {
    display: flex;
    flex-direction: column;

    height: 500px;
    justify-content: space-around;
}

@media screen and (max-width: 1024px){
    .slider_row {
        height: 400px;
    }

}
@media screen and (max-width: 768px){
    .slider_row {
        height: 300px;
    }

}
.slider_body {
    color: #fff;
}
.slider_title {
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;

    margin-bottom: 30px;
}
@media screen and (max-width: 768px){
    .slider_title {
        font-size: 26px;
        margin-bottom: 10px;
    }

}
@media screen and (max-width: 375px){
    .slider_title {
        font-size: 20px;
    }

}
.slider_text {
    color: #ccd0d7;
    font-size: 16px;
    line-height: 1.5;

    margin-bottom: 40px;
}
@media screen and (max-width: 768px){
    .slider_text {
        margin-bottom: 20px;
    }

}
@media screen and (max-width: 500px){
    .slider_text {
        font-size: 14px;
        line-height: 1.1;
    }

}
.slider__buttons {
    display: flex;
    flex-wrap: wrap;
}
.slider__buttons_btn {
    min-width: 120px;
    min-height: 40px;

    border: none;
    border-radius: 3px;
    outline: 3px solid #fff;
    background-color: rgba(255, 255, 255, 0);

    cursor: pointer;
    margin-right: 15px;
}
@media screen and (max-width: 425px) {
    .slider__buttons_btn {
        flex: 1 1 100%;
        margin: 0 0 15px 0;
    }
    
}
.slider__buttons_btn:hover {
    outline: 3px solid #23b7a4;
    background-color: #23b7a4;

    transition: .2s linear;
}
.slider__buttons_btn:not(hover) {
    transition: .2s linear;
}
.slider__buttons_btn p {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}
/*======================================================*/
.modest {
    margin-bottom: 60px;
}
.modest_row {
    display: flex;
    flex-direction: column;
}
.modest_title {
    color: #292f36;
}
.modest_body {
    display: flex;
}
.modest_text {
    margin: 0 15px 35px 0;
}
.modest_text p {
    color: #8d8f92;
    font-size: 16px;

    margin-bottom: 40px;
}
.modest_icon {}
.modest_icon img {
    background-color: #c8cdd0;

    cursor: pointer;
}
.modest__list {
    margin-left: 15px;
}
.list__body {
    display: flex;
    /* flex-direction: column; */
    margin-bottom: 35px;
}
.list__body:last-child {
    margin-bottom: 0;
}
.list__body_square {
    height: 50px;

    background-color: #23b7a4;
    color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 20px;
    padding: 15px;
}
.list__body_text {}
.list__body_text h4 {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;

    margin-bottom: 20px;
}
.list__body_text p {
    font-size: 16px;
    color: #8d8f92;

    line-height: 1.3;
}
@media screen and (max-width: 1024px) {
    .modest_text {
        flex: 0 0 50%;
    }
}
@media screen and (max-width: 768px) {
    .modest_body {
        display: flex;
        flex-direction: column;
    }
    .title__content_blocks {
        font-size: 30px;
        margin: 40px 0;
    }
    .modest_text p {
        margin-bottom: 30px;
    }
    .modest__list {
        margin: 0 15px 0 0;
    }
}
@media screen and (max-width: 425px) {
    .title__content_blocks {
        font-size: 26px;
        margin: 25px 0;
    }
    .modest_icon {
        text-align: center;
    }
}
/*======================================================*/
.team {
    margin-bottom: 60px;
}
.team_row {
}
.team_title {
    color: #292f36;
}
.team_body {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
}
.team_card {
    background-color: #e1e6ea;
    margin: 0 24px 24px 0;

    cursor: pointer;
}
.team_card:last-child {
    margin-right: 0;
}
.card_text {
    padding: 15px;
}
.card_text h4 {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;

    color: #292f36;

    margin-bottom: 10px;
}
.card_text p {
    font-size: 14px;
    color: #8d8f92;
}
.team_card:hover {
    background-color: #3a454d;

    transition: 0.2s linear;
}
.team_card:not(hover) {
    transition: 0.2s linear;
}
.team_card:hover h4 {
    color: white
}
@media screen and (max-width: 1180px) {
    .team_body {
        overflow-x: scroll;
    }
}
/*======================================================*/
.work {
    background-color: #3a454d;
    padding-bottom: 60px;
}
.work_row {
    display: flex;
    flex-direction: column;

    /* justify-content: center; ????? */
}
.work_title {
    color: #ffffff;
}
.work_body {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
}
/* .work_card {
    flex: 0 1 30%;
} */
.work_cardboard {
        width: 360px;
        height: 270px;

    position: relative; 
    margin: 0 0 20px 0;
    /* padding: 0 0 58% 0; */
    /* overflow: hidden; */

    
}
.cardboard_img {
    width: 100%;
    height: 100%;
    
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.cardboard_imgPlus {
    position: absolute;
    top: 94px;
    left: 45%;
    cursor: pointer;

    display: none;
}
.cardboard_text {
    background-color: #292f36;

    width: 100%;

    position: absolute;
    bottom: 0;
    left: 0;

    display: none;
}
.cardboard_text h4 {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;

    color: #fff;

    padding: 20px 20px;
}

 /* Q: РЅРµ СЂРѕР·С–Р±СЂР°РІСЃСЏ СЏРє РїСЂРѕРїРёСЃР°С‚Рё transition РЅР° .cardboard_text, .cardboard_imgPlus */
.work_cardboard:hover .cardboard_img{
    opacity: 0.5;
    transition: 1s;
}
.work_cardboard:hover .cardboard_text, .work_cardboard:hover .cardboard_imgPlus {
    display: flex;
}
.work_btn_container {
    display: flex;
    justify-content: center;
}
.work_btn {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 150px;
    height: 40px;

    background-color: #3a454d;
    border: 3px solid #fff;
    border-radius: 10px;
}
.work_btn p {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}
.work_btn:hover {
    background-color: #fff;
    transition: .3s;
}
.work_btn:hover .work_btn_text {
    color: #3a454d;

    transition: .3s;
}
.work_btn:not(hover), .work_btn:not(hover) .work_btn_text {
    transition: .3s;
}
/* @media screen and (max-width: 1180px) {
    .work_body {
        flex-wrap: nowrap;
        overflow-x: scroll;
    }
 }   Q+: СЏРє Р°РґРїС‚РёРІРёС‚Рё РєСЂС‚РёРЅРєРё РєСЂР°С‰Рµ? */
/*======================================================*/
.do {
    margin-bottom: 60px;
}
.do_row {}
.do_title {
    color: #292f36;
}
.do_body {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
}
.do_plate {
    width: 275px;
    height: 275px;

    text-align: center;

    margin-bottom: 15px;
}
.plate_img {
    margin: 30px 0;
}
.plate_title {
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;

    color: #292f36;

    margin-bottom: 30px;
}
.plate_text {}
.plate_text p {
    font-size: 16px;
    line-height: 1.5;

    color: #8d8f92;
}
/*======================================================*/
.features { 
    background-color: #3a454d;
    padding-bottom: 60px;
}
/* Q+: С‡РѕРјСѓ Р±РµР· СЂРѕСѓ Р±Р»РѕРєР° РЅРµ РїСЂР°С†СЋС” margin РґР»СЏ title  */
/* A: https://stackoverflow.com/questions/19718634/how-to-disable-margin-collapsing  */

.features_row {
    display: flex;
    flex-direction: column;
}
.features_title {
    color: #fff;
}
.features_body {
    display: flex;
    justify-content: space-between;
}
.features_card {
    width: 360px;
    height: 460px;
}
.features_card img {
    width: 360px;
    height: 240px;

    margin-bottom: 50px;
}
.features_card_title {
    font-size: 18px;
    font-weight: bold;

    color: #fff;
    text-transform: uppercase;

    margin-bottom: 25px;
}
.features_card_text {}
.features_card_text p {
    font-size: 16px;
    line-height: 1.5;

    color: #dcdfe1;
}
/*======================================================*/
.touch {
    margin-bottom: 600px;
}
.touch_title {
    color: #292f36;
}
.touch_map  {
    width: 100%;
    height: auto;

    margin-bottom: 60px;
}
.touch_body {
    display: flex;
}
.touch_text_section {
    flex: 0 1 50%;
    margin-right: 15px;
}
.text_title {
    font-size: 20px;
    font-weight: bold;
    color: #292f36;
    text-transform: uppercase;

    margin-bottom: 50px;
}
.text_text p {
    font-size: 16px;
    color: #8d8f92;
    line-height: 1.5;

    margin-bottom: 40px;
}
.text_text p:last-child {
    margin-bottom: 0;
}
.touch_form_section {
    margin-left: 15px;

    position: relative;
    top: -160px;
    left: 0; 
}
.alfa {
    background-color: #fff;
    width: 555px;
    height: 400px;
    padding: 30px;

    visibility: hidden;
}
.touch_form_contacts_body {
    display: flex;
}
.touch_form_contacts {
    display: flex;
    flex-direction: column;

    width: 100%;
    margin: 0 15px 30px 0;
}
.touch_form_contacts:last-child {
    margin-right: 0;
}
.touch_form_txtArea {
    display: flex;
    flex-direction: column;
    
    margin-bottom: 30px;
}
.touch_form_label {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;

    color: #8d8f92;

    margin-bottom: 10px;
}
.contacts_input {
    background-color: #eaeef1;

    line-height: 44px;
}
.txtArea {
    background-color: #eaeef1;

    width: 100%;
    height: 140px; 
    padding-top: 10px;

    line-height: 1.5;
    resize: none;
}
.touch_form_submit {}
.touch_form_submit input {
    background-color: #23b7a4;
    text-transform: uppercase;

    line-height: 44px;

    color: #fff;
    cursor: pointer;
}
.input_style {
    border: none;
    border-radius: 5px;


    font-size: 14px;
    font-weight: bold;

    padding: 0  15px;
}
.touch_onOff_btn {
    background-color: #23b7a4;
    text-transform: uppercase;

    margin-top: 30px;
    line-height: 44px;

    color: #fff;
    cursor: pointer;
}
.activeForm {
    visibility: visible;
}

/*======================================================*/
.footer {
    width: 100%;
    background-color: #3a454d;
}
.footer_body {
    display: flex;
    justify-content: space-between;

    height: 95px;
    align-items: center;
}
.footer_text {
    color: white;
    font-size: 14px;
}
.footer_icon { 
    width: 300px;
    overflow: hidden;
}

.icon_body {  
    display: flex;
    justify-content: flex-end;
}

.icon_body a {
    height: 41px;
    width: 41px;
}
.icon_body img {
    height: 40px;
    width: 40px;
    padding: 1px;
}
.icon_body img:hover {
    border: 1px solid rgb(1, 1, 1); /*ed; Q+: С‡РѕРјСѓСЃСЊ РЅРµ РјРѕР¶Сѓ РїСЂРѕРїРёСЃР°С‚Рё output С‰РѕР± С–РєРѕРЅРєРё РЅРµ РґСЊРѕСЂРіР°Р»РёСЃСЊ */
    padding: 0;
    height: 40px;
    width: 40px;
    /* transition: .3s linear; */
}
/*======================================================*/
/*=========================menu Hamburger=============================*/

@media screen and (max-width: 767px){
    ul.nav {
        flex-direction: column;
    }
    .nav_mobile_menu {
        width: 15px;
        height: 15px;
        position: relative;
    }
    .nav_mobile_menu span {
        height: 1px;
        background-color: #fff;
        position: absolute;
        left: 0;
        right: 0;
        transition: .25s ease-in-out;
    }
    .nav_mobile_menu span:nth-child(1) {
        top: 3px;
    }
    .nav_mobile_menu span:nth-child(2) {
        top: 7px;
    }
    .nav_mobile_menu span:nth-child(3) {
        bottom: 3px;
    }
    .hidden_menu {
        opacity: 0;
        visibility: hidden;
    }
    .navigation {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: 280px;
        max-width: 280px;
        transition: all 250ms ease-in-out;
        transform: translateX(50%);
    }
    .header_row {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 50px;
    }
    /* //active_menu */
    .nav_mobile_menu.active_menu span:nth-child(1) {
        top: 50%;
        transform: rotate(45deg);
    }
    .nav_mobile_menu.active_menu span:nth-child(2) {
        top: 50%;
        transform: rotate(-45deg);
    }
    .nav_mobile_menu.active_menu span:nth-child(3) {
        transform: scale(0);
    }
    .navigation.active_menu {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
        top: 42px;
        min-width: 100%;

        background-color: #1d2126;
        
    }
}

/* ========= testtestetse */

.test_body {
    display: flex;
}
.body {
    margin: 0 15px 0 15px;
} 
.img_father {
    margin: 0 0 20px 0;
    padding: 0 0 58% 0;
    overflow: hidden;
    position: relative;
}
.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left0
}
