.header
{
    position: relative;

    // .header_backColor
    // {

    //     background: radial-gradient(circle at 50% 60%, #5d00a0, #5a00a1, #5500a5, #5100a8, #4800a8, #4000b1, #3c00b4, #3700b6);
    //     position: absolute;
    //     height: 200px;
    //     width: 200px;
    //     top: 0;
    //     left: 0;

    //     border-radius: 50%;
    // }

    .header_body
    {

        .header_menu
        {
            ul.nav
            {
                li
                {
                    .menu_link
                    {
                        color: #363636;
                        opacity: 0.8;

                        &:hover
                        {
                            color: #174AFF;
                            transition: .2s linear;
                        }

                        &:not(hover)
                        {
                            transition: .2s linear;
                        }
                    }
                }

            }
        }

        .header_btn
        {
            .btn_demo
            {
                border: 1.5px solid #174AFF;
                color: #174AFF;

                &:hover
                {
                    background-color: #174AFF;
                    transition: .2s linear;
                    color: #fff;
                }

                &:not(hover)
                {
                    transition: .2s linear;
                }
            }
        }
    }
}

//==========================================================================================//
.simplify
{
    .simplify_subtitle
    {
        font-size: 19px;
        font-weight: 400;
        text-align: center;

        margin-bottom: 150px;
    }

    .simplify_body
    {
        // display: flex;
        // flex-direction: column;

        .simplify_lead
        {
            display: flex;
            justify-content: space-between;

            margin-bottom: 150px;

            &:last-child
            {
                margin-bottom: 100px;
            }

            .screen_back
            {
                width: auto;
                height: auto;

                display: flex;
                flex-direction: column;

                background-color: rgba(190, 190, 190, 0.2);
                padding: 10px 5px 5px 5px;
                border-radius: 10px;

                .exmplPart_macPoint
                {
                    padding-left: 10px;

                    img
                    {
                        background-color: #797979;
                        border-radius: 11px;
                    }
                }

                .screen_screen
                {
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                    margin-top: 7px;
                }
            }
        }

        .simplify_card_template
        {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            margin-bottom: 150px;

            .simplify_card
            {}

        }
    }

    @media screen and (max-width: 1024px)
    {
        .simplify_body
        {
            .simplify_lead
            {
                position: relative;
                margin-bottom: 100px;

                .screen_back
                {
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }

            .simplify_card_template
            {
                margin-bottom: 100px;
            }
        }



    }
}