.tab_title_items {
    display: flex;

}
.tab_title_item {
    padding: 15px 20px;
    border: 1px solid red;
    margin: 15px;
    border-radius: 10px;
}
.tab_title_item:hover, .active {
    background-color: red;
    cursor: pointer;
 }
 .hide {
    display: none;
 }
 .show {
    display: block;
 }