.header .header_body .header_menu ul.nav li .menu_link {
  color: #363636;
  opacity: 0.8;
}
.header .header_body .header_menu ul.nav li .menu_link:hover {
  color: #174AFF;
  transition: 0.2s linear;
}
.header .header_body .header_menu ul.nav li .menu_link:not(hover) {
  transition: 0.2s linear;
}
.header .header_body .header_btn .btn_demo {
  border: 1.5px solid #174AFF;
  color: #174AFF;
}
.header .header_body .header_btn .btn_demo:hover {
  background-color: #174AFF;
  transition: 0.2s linear;
  color: #fff;
}
.header .header_body .header_btn .btn_demo:not(hover) {
  transition: 0.2s linear;
}

.contactUs {
  text-align: center;
  margin-bottom: 150px;
}
.contactUs .contactUs_title {
  font-size: 40px;
}
.contactUs .contactUs_sub {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 100px;
}
.contactUs .contactUs_form_bl .contactUs_form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.contactUs .contactUs_form_bl .contactUs_form .form_input {
  max-width: 340px;
  height: 60px;
  flex: 0 1 100%;
  border: 1px solid #979797;
  opacity: 0.6;
  border-radius: 8px;
  padding: 20px;
  margin-right: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 400;
  color: #363636;
}
.contactUs .contactUs_form_bl .contactUs_form .form_input::placeholder {
  opacity: 0.7;
}
.contactUs .contactUs_form_bl .contactUs_form .form_input:hover, .contactUs .contactUs_form_bl .contactUs_form .form_input:not(hover) {
  outline: none;
  font-size: 20px;
}
.contactUs .contactUs_form_bl .contactUs_form .form_input_subj {
  max-width: 685px;
  flex: 0 1 100%;
}
.contactUs .contactUs_form_bl .contactUs_form .form_input_txtArea {
  max-width: 685px;
  height: 180px;
  flex: 0 1 100%;
}
.contactUs .contactUs_form_bl .contactUs_form .contactUs_form_btn {
  display: flex;
  justify-content: center;
  flex: 0 1 100%;
}
.contactUs .contactUs_form_bl .contactUs_form .contactUs_form_btn .form_input_Button {
  width: 190px;
  height: 53px;
  border: none;
  border-radius: 5px;
  background: #3670FF;
  color: #fff;
  font-size: 16px;
  margin-bottom: 100px;
}
.contactUs .contactUs_form_bl .contactUs_form .contactUs_form_btn .form_input_Button:hover {
  background: #174AFF;
  transition: 0.2s linear;
}
.contactUs .contactUs_form_bl .contactUs_form .contactUs_form_btn .form_input_Button:not(hover) {
  transition: 0.2s linear;
}
.contactUs .contactUs_contact {
  display: flex;
  justify-content: center;
}
.contactUs .contactUs_contact .contact_item a {
  font-size: 26px;
  font-weight: 500;
  color: #3670FF;
}
.contactUs .contactUs_contact span {
  font-size: 26px;
  font-weight: 600;
  margin: 0 25px;
}
.contactUs .container {
  position: relative;
}
.contactUs .contactUs_img1 img,
.contactUs .contactUs_img2 img,
.contactUs .contactUs_img3 img,
.contactUs .contactUs_img4 img {
  border-radius: 50%;
  filter: drop-shadow(-10px 21px 13px #D8D8D8);
}
.contactUs .contactUs_img1 {
  position: absolute;
  top: 285px;
  left: -50px;
}
.contactUs .contactUs_img2 {
  position: absolute;
  bottom: 50px;
  left: 50px;
}
.contactUs .contactUs_img3 {
  position: absolute;
  top: 300px;
  right: -35px;
}
.contactUs .contactUs_img4 {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

/*# sourceMappingURL=style.css.map */
